//variables
$primaryColor: rgba(236, 233, 18, 0.774);
$theme: purple;
$i: 0;
$list: banane,
mangue,
orang,
kiwi;
$fruit: groseille;
$list: append($list, $fruit, comma);
$default: (color: green, font-size: 1em);
$maListeDeColor:(color-blue: red, color-green: black, color-red: yellow);

//mixin
@mixin border-radius($degres) {
    -moz-border-radius: $degres;
    -webkit-border-radius: $degres;
    -ms-border-radius: $degres;
    border-radius: $degres;
}

%theme {
    @if($theme==purple) {
        background-color: purple;
        color: white;
    }

    @else if($theme==black) {
        background-color: black;
        color: white;
    }

    @else {
        background-color: #fff;
        color: black;
    }
}

@mixin googleFonts($font) {
    @import url('https://fonts.googleapis.com/css?family=#{$font}');
}

//importation
@import 'header';

body {
    @extend %theme;
}

//fonts
@include googleFonts(Roboto);
@include googleFonts(Noto+Sans+TC);


footer {
    background-color: $primaryColor;
    padding: 50px;
    @include border-radius(10px);
    font-family: 'Roboto', sans-serif;
    content: nth($list, 1);

    span {
        color: white;

        &:hover {
            text-decoration: underline;
        }
    }
}

%alert {
    border: 1px solid #ccc;
    padding: 15px;
    color: white;
    @include border-radius(10px);
    font-family: "Noto+Sans+TC", sans-serif;
}

.alert-green {
    @extend %alert;
    background-color: green;
}


.alert-red {
    @extend %alert;
    background-color: red;
}

@mixin center {
    margin-left: auto;
    margin-right: auto;
}

#logo {
    @include center;
    width: 135px;
    color: map-get($default, color)
}

#slogan {
    @include center;
    width: 150px;

}

//boucle for
@for $i from 1 through 6 {
    .grid-#{$i} {
        width: 100px*$i;
    }
}

//boucle while
@while $i <=6 {
    .grid-#{$i} {
        width: 100px*$i;
    }

    $i: $i+1;
}

//boucle each
@each $name in $list {
    .#{$name}-icon {
        background-image: url("/img/#{$name}.png");
    }
}

@each $key,
$value in $maListeDeColor {
    .#{$key} {
        color: #{$value};
    }
}